

/* mobail devices  */

@media screen and (max-width:600px) {
    .flex{
        flex-direction: column;
    }
    .nav{
        display: none;
    }
    .logo, .nav-container{
        flex-direction: row;
    }
    .humbergar{
        display: inline-block;
    }


    /* travel-container */

    .travel-container h1{
        margin-top: 50px;
        font-size: 22px;
    }
    .travel-container p{
        padding:0 30px;
    }
    button{
        padding: 15px 35px;
        background-color: var(--primary-color);
        border-radius: 8px;
        border: none;

        color: #FFF;
        font-size: 20px;
        font-weight: 800;
        }
    .t-btn, select{
        min-width: 400px;
    }
    input{
        min-width: 370px;
    }
    .t-btn .btn-icon{
        padding: 5px;
        margin-bottom: -10px;
    }
    .form input, .form select{
        padding: 15px;
        border-radius: 8px;
        border: none;
    }

    /* main start  */

    .popular-tour-details{
        width: 100%;
    }
    .popular-tour-img{
        width: 100%;
    }

    .destination-img{
        margin: 0 auto;
        margin-bottom: 20px;
        width: 100%;
    }

      .popular-tour-img img{
        padding: 0;
    }
    .popular-tour-details ul{
        padding: 0 20px;
    }
    .destinations-part-container p, .choose-us-container>p{
        padding: 0 25px;
    }
    .container h2, h3, h4 {
        font-size: 20px;
    }
    .destination-img img{
        width:max-content;
    }
    p{
        font-size: 14px;
    }
    
    .info1, .info2, .info3{
        width: 100%;
        padding: 20px;
    }
    .info-container2 .info3{
        margin: 0;
    }
 
    .newslatterperfect-place-text{
        width: 100%;
    }
    .newslatterperfect-place-text h2{
        font-size: 20px;
    }
    .newslatterperfect-place-text p{
        line-height: 16px;
    }
    .newslatter-img{
        width: 100%;
    }


    
.footer{
    width:80%;
}
.footer-logo, .social-icon{
    justify-content: center;
    flex-direction: row;
}





}